{% extends "base.html" %} {% load static %} {% load widget_tweaks %} 
{% block content %}

<div class="content">
  <!-- Widget Info -->
  <div class="col-xxl-12 d-flex">
    <div class="row flex-fill">
      {% for posts in post %}
      <div class="col-md-3">
        <a class="d-block" href="{% url 'base:project_details'  posts.pk %}">
          <div class="card flex-fill">
            <div class="card-body">
              <span class="avatar rounded-circle bg-primary mb-2">
                <i class="ti ti-calendar-share fs-16"></i>
              </span>
              <h3 class="mb-3">{{posts.project_name}}</h3>
              <h6 class="fs-13 fw-medium text-default mb-1">
                {{posts.address}}
              </h6>
              <a
                href="{% url 'base:project_details' posts.pk %}"
                class="link-default"
                >View</a
              >
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- /Widget Info -->
  <div class="row">
    <div class="col-xl-4 d-flex">
      <div class="card flex-fill border-primary attendance-bg">
        <div class="card-body">
          <div class="mb-4 text-center">
            <h6 class="fw-medium text-gray-5 mb-1">Attendance</h6>
            <h4>08:35 AM, 11 Mar 2025</h4>
          </div>
          <div
            class="attendance-circle-progress attendance-progress mx-auto mb-3"
            data-value="65"
          >
            <span class="progress-left">
              <span class="progress-bar border-success"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar border-success"></span>
            </span>
            <div class="total-work-hours text-center w-100">
              <span class="fs-13 d-block mb-1">Total Hours</span>
              <h6>5:45:32</h6>
            </div>
          </div>
          <div class="text-center">
            <div class="badge badge-dark badge-md mb-3">
              Production : 3.45 hrs
            </div>
            <h6
              class="fw-medium d-flex align-items-center justify-content-center mb-4"
            >
              <i class="ti ti-fingerprint text-primary me-1"></i>
              Punch In at 10.00 AM
            </h6>
            <a href="#" class="btn btn-primary w-100">Punch Out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 d-flex">
      <div class="row flex-fill">
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="border-bottom mb-3 pb-2">
                <span class="avatar avatar-sm bg-primary mb-2"
                  ><i class="ti ti-clock-stop"></i
                ></span>
                <h2 class="mb-2">
                  8.36 / <span class="fs-20 text-gray-5"> 9</span>
                </h2>
                <p class="fw-medium text-truncate">Total Hours Today</p>
              </div>
              <div>
                <p class="d-flex align-items-center fs-13">
                  <span
                    class="avatar avatar-xs rounded-circle bg-success flex-shrink-0 me-2"
                  >
                    <i class="ti ti-arrow-up fs-12"></i>
                  </span>
                  <span>5% This Week</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="border-bottom mb-3 pb-2">
                <span class="avatar avatar-sm bg-dark mb-2"
                  ><i class="ti ti-clock-up"></i
                ></span>
                <h2 class="mb-2">
                  10 / <span class="fs-20 text-gray-5"> 40</span>
                </h2>
                <p class="fw-medium text-truncate">Total Hours Week</p>
              </div>
              <div>
                <p class="d-flex align-items-center fs-13">
                  <span
                    class="avatar avatar-xs rounded-circle bg-success flex-shrink-0 me-2"
                  >
                    <i class="ti ti-arrow-up fs-12"></i>
                  </span>
                  <span>7% Last Week</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="border-bottom mb-3 pb-2">
                <span class="avatar avatar-sm bg-info mb-2"
                  ><i class="ti ti-calendar-up"></i
                ></span>
                <h2 class="mb-2">
                  75 / <span class="fs-20 text-gray-5"> 98</span>
                </h2>
                <p class="fw-medium text-truncate">Total Hours Month</p>
              </div>
              <div>
                <p class="d-flex align-items-center fs-13 text-truncate">
                  <span
                    class="avatar avatar-xs rounded-circle bg-danger flex-shrink-0 me-2"
                  >
                    <i class="ti ti-arrow-down fs-12"></i>
                  </span>
                  <span>8% Last Month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="border-bottom mb-3 pb-2">
                <span class="avatar avatar-sm bg-pink mb-2"
                  ><i class="ti ti-calendar-star"></i
                ></span>
                <h2 class="mb-2">
                  16 / <span class="fs-20 text-gray-5"> 28</span>
                </h2>
                <p class="fw-medium text-truncate">Overtime this Month</p>
              </div>
              <div>
                <p class="d-flex align-items-center fs-13 text-truncate">
                  <span
                    class="avatar avatar-xs rounded-circle bg-danger flex-shrink-0 me-2"
                  >
                    <i class="ti ti-arrow-down fs-12"></i>
                  </span>
                  <span>6% Last Month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-3">
                  <div class="mb-4">
                    <p class="d-flex align-items-center mb-1">
                      <i
                        class="ti ti-point-filled text-dark-transparent me-1"
                      ></i
                      >Total Working hours
                    </p>
                    <h3>12h 36m</h3>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="mb-4">
                    <p class="d-flex align-items-center mb-1">
                      <i class="ti ti-point-filled text-success me-1"></i
                      >Productive Hours
                    </p>
                    <h3>08h 36m</h3>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="mb-4">
                    <p class="d-flex align-items-center mb-1">
                      <i class="ti ti-point-filled text-warning me-1"></i>Break
                      hours
                    </p>
                    <h3>22m 15s</h3>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="mb-4">
                    <p class="d-flex align-items-center mb-1">
                      <i class="ti ti-point-filled text-info me-1"></i>Overtime
                    </p>
                    <h3>02h 15m</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="progress bg-transparent-dark mb-3"
                    style="height: 24px"
                  >
                    <div
                      class="progress-bar bg-white rounded"
                      role="progressbar"
                      style="width: 18%"
                    ></div>
                    <div
                      class="progress-bar bg-success rounded me-2"
                      role="progressbar"
                      style="width: 18%"
                    ></div>
                    <div
                      class="progress-bar bg-warning rounded me-2"
                      role="progressbar"
                      style="width: 5%"
                    ></div>
                    <div
                      class="progress-bar bg-success rounded me-2"
                      role="progressbar"
                      style="width: 28%"
                    ></div>
                    <div
                      class="progress-bar bg-warning rounded me-2"
                      role="progressbar"
                      style="width: 17%"
                    ></div>
                    <div
                      class="progress-bar bg-success rounded me-2"
                      role="progressbar"
                      style="width: 22%"
                    ></div>
                    <div
                      class="progress-bar bg-warning rounded me-2"
                      role="progressbar"
                      style="width: 5%"
                    ></div>
                    <div
                      class="progress-bar bg-info rounded me-2"
                      role="progressbar"
                      style="width: 3%"
                    ></div>
                    <div
                      class="progress-bar bg-info rounded"
                      role="progressbar"
                      style="width: 2%"
                    ></div>
                    <div
                      class="progress-bar bg-white rounded"
                      role="progressbar"
                      style="width: 18%"
                    ></div>
                  </div>
                </div>
                <div class="co-md-12">
                  <div
                    class="d-flex align-items-center justify-content-between flex-wrap row-gap-2"
                  >
                    <span class="fs-10">06:00</span>
                    <span class="fs-10">07:00</span>
                    <span class="fs-10">08:00</span>
                    <span class="fs-10">09:00</span>
                    <span class="fs-10">10:00</span>
                    <span class="fs-10">11:00</span>
                    <span class="fs-10">12:00</span>
                    <span class="fs-10">01:00</span>
                    <span class="fs-10">02:00</span>
                    <span class="fs-10">03:00</span>
                    <span class="fs-10">04:00</span>
                    <span class="fs-10">05:00</span>
                    <span class="fs-10">06:00</span>
                    <span class="fs-10">07:00</span>
                    <span class="fs-10">08:00</span>
                    <span class="fs-10">09:00</span>
                    <span class="fs-10">10:00</span>
                    <span class="fs-10">11:00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Invoice DataTable -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div
          class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3"
        >
          <h5 class="d-flex align-items-center">
            Invoices<span class="badge badge-dark-transparent ms-2"
              >2000 Invoices</span
            >
          </h5>
          <div class="d-flex align-items-center flex-wrap row-gap-3">
            <div class="input-icon position-relative w-120 me-2">
              <span class="input-icon-addon">
                <i class="ti ti-calendar"></i>
              </span>
              <input
                type="text"
                class="form-control datetimepicker"
                placeholder="Created Date"
              />
            </div>
            <div class="input-icon position-relative w-120 me-2">
              <span class="input-icon-addon">
                <i class="ti ti-calendar"></i>
              </span>
              <input
                type="text"
                class="form-control datetimepicker"
                placeholder="Due Date"
              />
            </div>
            <div class="dropdown me-2">
              <a
                href="javascript:void(0);"
                class="dropdown-toggle btn btn-white d-inline-flex align-items-center"
                data-bs-toggle="dropdown"
              >
                Select Status
              </a>
              <ul class="dropdown-menu dropdown-menu-end p-3">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1"
                    >Paid</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1"
                    >Overdue</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1"
                    >Pending</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1"
                    >Draft</a
                  >
                </li>
              </ul>
            </div>
            <div class="dropdown">
              <a
                href="javascript:void(0);"
                class="dropdown-toggle btn btn-white d-inline-flex align-items-center fs-12"
                data-bs-toggle="dropdown"
              >
                <span class="fs-12 d-inline-flex me-1">Sort By : </span>
                Last 7 Days
              </a>
              <ul class="dropdown-menu dropdown-menu-end p-3">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1"
                    >Last 7 Days</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1"
                    >Created Date</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1"
                    >Due Date</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="custom-datatable-filter table-responsive">
            <table class="table datatable">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort">
                    <div class="form-check form-check-md">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="select-all"
                      />
                    </div>
                  </th>
                  <th>Invoice</th>
                  <th>Name</th>
                  <th>Created On</th>
                  <th>Total</th>
                  <th>Amount Due</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-1454</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-32.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Anthony Lewis</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="41202f35292e2f38012439202c312d246f222e2c"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>14 Jan 2024, 04:27 AM</td>
                  <td>$300</td>
                  <td>$0</td>
                  <td>14 Jan 2024, 04:27 AM</td>
                  <td>
                    <span
                      class="badge badge-soft-success d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Paid
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-6571</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-09.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Brian Villalobos</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="4c2e3e252d220c29342d213c2029622f2321"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>21 Jan 2024, 03:19 AM</td>
                  <td>$547</td>
                  <td>$200</td>
                  <td>21 Jan 2024, 03:19 AM</td>
                  <td>
                    <span
                      class="badge badge-soft-danger d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Overdue
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-2245</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-01.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Harvey Smith</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="4c242d3e3a29350c29342d213c2029622f2321"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>20 Feb 2024, 12:15 PM</td>
                  <td>$325</td>
                  <td>$65</td>
                  <td>20 Feb 2024, 12:15 PM</td>
                  <td>
                    <span
                      class="badge badge-soft-purple d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Pending
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-1456</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-33.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Stephan Peralt</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="88f8edfae9e4c8edf0e9e5f8e4eda6ebe7e5"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>15 Mar 2024, 12:11 AM</td>
                  <td>$471</td>
                  <td>$145</td>
                  <td>15 Mar 2024, 12:11 AM</td>
                  <td>
                    <span
                      class="badge badge-soft-purple d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Pending
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="#" class="me-2"><i class="ti ti-edit"></i></a>
                      <a
                        href="#"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-0045</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-34.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Doglas Martini</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="35585447415b5c424775504d54584559501b565a58"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>12 Apr 2024, 05:48 PM</td>
                  <td>$147</td>
                  <td>$32</td>
                  <td>12 Apr 2024, 05:48 PM</td>
                  <td>
                    <span
                      class="badge badge-soft-danger d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Overdue
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-6244</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-02.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Linda Ray</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="6b190a125f5e5d2b0e130a061b070e45080406"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>20 Apr 2024, 06:11 PM</td>
                  <td>$654</td>
                  <td>$140</td>
                  <td>20 Apr 2024, 06:11 PM</td>
                  <td>
                    <span
                      class="badge badge-soft-warning d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Draft
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-9565</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-35.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Elliot Murray</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="87eaf2f5f5e6fec7e2ffe6eaf7ebe2a9e4e8ea"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>14 Jan 2024, 04:27 AM</td>
                  <td>$300</td>
                  <td>$0</td>
                  <td>14 Jan 2024, 04:27 AM</td>
                  <td>
                    <span
                      class="badge badge-soft-success d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Paid
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-6874</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-36.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Rebecca Smtih</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="4b38263f22230b2e332a263b272e65282426"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>02 Sep 2024, 09:21 PM</td>
                  <td>$654</td>
                  <td>$65</td>
                  <td>02 Sep 2024, 09:21 PM</td>
                  <td>
                    <span
                      class="badge badge-soft-success d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Paid
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-1454</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-32.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Anthony Lewis</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="34555a405c5b5a4d74514c55594458511a575b59"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>14 Jan 2024, 04:27 AM</td>
                  <td>$300</td>
                  <td>$0</td>
                  <td>14 Jan 2024, 04:27 AM</td>
                  <td>
                    <span
                      class="badge badge-soft-warning d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Draft
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-6587</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-37.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Connie Waters</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="6b08040505020e2b0e130a061b070e45080406"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>15 Nov 2024, 12:44 PM</td>
                  <td>$987</td>
                  <td>$47</td>
                  <td>15 Nov 2024, 12:44 PM</td>
                  <td>
                    <span
                      class="badge badge-soft-purple d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Pending
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-md">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </td>
                  <td>
                    <a href="invoice-details.html" class="tb-data">INV-5879</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a
                        href="invoice-details.html"
                        class="avatar avatar-lg me-2"
                      >
                        <img
                          src="assets/img/users/user-38.jpg"
                          class="rounded-circle"
                          alt="user"
                        />
                      </a>
                      <div>
                        <h6 class="fw-medium">
                          <a href="invoice-details.html">Lori Broaddus</a>
                        </h6>
                        <span class="fs-12"
                          ><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="dfbdadb0bebbbbaaac9fbaa7beb2afb3baf1bcb0b2"
                            >[email&#160;protected]</a
                          ></span
                        >
                      </div>
                    </div>
                  </td>
                  <td>10 Dec 2024, 11:23 PM</td>
                  <td>$365</td>
                  <td>$21</td>
                  <td>10 Dec 2024, 11:23 PM</td>
                  <td>
                    <span
                      class="badge badge-soft-danger d-inline-flex align-items-center"
                    >
                      <i class="ti ti-point-filled me-1"></i>Overdue
                    </span>
                  </td>
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="invoice-details.html" class="me-2"
                        ><i class="ti ti-eye"></i
                      ></a>
                      <a href="edit-invoices.html" class="me-2"
                        ><i class="ti ti-edit"></i
                      ></a>
                      <a
                        href="#delete_modal"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Invoice DataTable -->
</div>

{% endblock content %}
