{% extends "base.html" %} 
{% load static %}
{% load widget_tweaks %}   
{% block content %}
<div class="content">
      <div class="row">
    <div class="col-sm-12">
      <div class="card">
        
        <div class="card-body p-0">
          <div class="custom-datatable-filter table-responsive">
            <table class="table datatable">
              <thead class="thead-light">
                <tr>
                  <th>Added By</th>
                  <th>Date </th>
                  <th>Project</th>
                  <th>Product Name</th>
                  <th>QTY</th>
                  <th>Price</th>
                  <th></th>
                 
                 
                </tr>
              </thead>
              <tbody>
                {% for posts in post %}
                <tr>
                  <td><h6 class="fw-medium">{{posts.user.first_name}} {{posts.user.last_name}}</h6></td>
                  <td><h6 class="fw-medium">{{posts.date}}</h6></td>
                  <td><h6 class="fw-medium">{{posts.project.project_name}}</h6></td>
                  <td><h6 class="fw-medium">{{posts.name}}</h6></td>
                  <td><h6 class="fw-medium">{{posts.qty}}</h6></td>
                  <td><h6 class="fw-medium">{{posts.price}}</h6></td>
                 
                  <td>
                    <div class="action-icon d-inline-flex">
                      <a href="{% url 'base:in_stock_inventory_details' posts.pk %}" class="me-5"
                        ><i class="ti ti-eye text-success"></i
                      ></a>
                      {% if user.is_superuser %}
                        <a href="{% url 'base:in_stock_inventory_delete' posts.pk posts.project.id%}"
                        ><i class="ti ti-trash text-danger"></i
                            ></a>
                             <a href="{% url 'base:in_stock_inventory_edit' posts.pk %}"
                        ><i class="ti ti-edit text-danger"></i
                            ></a>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endfor %}
                
              
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div >

{% endblock content %}