{% extends "base.html" %} 
{% load static %}
{% load widget_tweaks %}   
{% block content %}
<div class="content">
    	<div class="">
						<div class="card">
							<div class="card-body">
								<div class="border-bottom mb-3 pb-3">
									<h4>Details</h4>
								</div>
								<form method="POST" enctype="multipart/form-data" onsubmit="openLoader()">
									{% csrf_token %}
									<div class="border-bottom mb-3">
										
										<div class="row">
											<div class="col-md-6">
												<div class="row align-items-center mb-3">
													<div class="col-md-4">
														<label class="form-label mb-md-0">Select Product</label>
													</div>
														<div class="col-md-8">
														{% render_field form.name  class="form-control" placeholder="Select Product" list="product_list" %}
														<datalist id="product_list">
																<option value="M Sand"> </option>
																<option value="P Sand"> </option>
																<option value="Cement"> </option>
																<option value="Stone - 20mm"> </option>
																<option value="Stone - 40mm"> </option>
																<option value="Stone - 60mm"> </option>
																<option value="RMC"> </option>
																<option value="Steel"> </option>
																<option value="Granite"> </option>
																<option value="Aluminum Window"> </option>
																<option value="ACP"> </option>	
																<option value="Sanitary Item"> </option>
																<option value="Electric Item"> </option>
																<option value="Bricks"> </option>
																<option value="Concrete Solid Blocks 4"> </option>
																<option value="Concrete Solid Blocks 6"> </option>	
																<option value="Concrete Solid Blocks 8"> </option>
																<option value="PVC Pipes"> </option>
																<option value="GI Pipes"> </option>
																<option value="Borewell Pumpset Materials"> </option>
																<option value="School desk and furniture"> </option>	
																<option value="Green Board and Notice Board"> </option>
																<option value="UPS and Batteries"> </option>
																<option value="LED Street light"> </option>
																<option value="Street light High Mast Poles"> </option>
																<option value="Stones"> </option>
																
														</datalist>
													</div>
												</div>
											</div>
											
											<div class="col-md-3">
												<div class="row align-items-center mb-3">
													<div class="col-md-2">
														<label class="form-label mb-md-0">Qty</label>
													</div>
													<div class="col-md-10">
														{% render_field form.qty  class="form-control" placeholder="Qty"  %}
													</div>
												</div>
											</div>
										
                                            <div class="col-md-5">
												<div class="row align-items-center mb-3">
													<div class="col-md-4">
														<label class="form-label mb-md-0">Inventory Photo</label>
													</div>
													<div class="col-md-8">
														{% render_field form.image class="form-control image-sign" accept="image/*" capture="user" %}
													</div>
												</div>
											</div>
                                         
											
										</div>
									</div>
                                         
									<div class="d-flex align-items-center justify-content-end">
										<button class="btn btn-primary btn-lg" id="btn-submit" type="submit" >
										Submit
									</button>
									</div>
								</form>
							</div>
						</div>
					</div>
  
</div >
 
{% endblock content %}
